/* Block Locale */
#content {
	position:relative;
}
#content-before .container {
  min-height:50px;
  position:relative;
}
#content-before .block-locale {
  position:absolute;
  right:10px;
  top:0;
}
#content-before .block-locale > h2 {
  display:none;
}
#content-before .block-locale ul.language-switcher-locale-url {
  margin:0;
  padding:0;
  overflow:hidden;
}
#content-before .block-locale ul.language-switcher-locale-url li {
  display:block;
  float:left;
  margin:0 5px;
  padding:0;
}
#content-before .block-locale ul.language-switcher-locale-url li a,
#content-before .block-locale ul.language-switcher-locale-url li span {
  display:block;
  text-transform:uppercase;
}
#content-before .block-locale ul.language-switcher-locale-url li.active a,
#content-before .block-locale ul.language-switcher-locale-url li.active span {
  color:#555;
  text-decoration:none;
}
#content-before .block-locale ul.language-switcher-locale-url li a.locale-untranslated,
#content-before .block-locale ul.language-switcher-locale-url li span.locale-untranslated {
  color:#999;
  text-decoration:none;
}

#help,
#console{
  max-width:75%;
}

/* Start page styling */
.dashbox.span-12 {
	overflow: hidden;
}

.dashboard.span-12 {
	max-width:1120px;
	margin: 0 auto;
}
.dashboard .span-4 {
	width:35%;
	float:left;
	margin-right:3%;
}
.dashboard .span-8 {
	width:62%;
	float:left;
}
.dashboard .span-8 .span-6 {
	width:48%;
	float:left;
}
.dashboard .span-8 div .span-6:first-child {
	margin-right:4%;
}
.dashboard a {
	color:#FF7300;
}

input.btn-cms-reset {
  display: block;
  height: 28px;
  line-height: 28px !important;
  margin: 0;
  padding: 0 10px;
  border: none;
  outline: none;
  font-weight: bold !important;
  font: 12px Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: #fff;
  background: #353535;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#222222' );
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222) );
  background: -moz-linear-gradient(top, #666, #222);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.view-filters .cms-filter-btns {
  clear: both;
  display: block;
  padding: 0 10px;
  overflow: hidden;
}

.view-filters .cms-filter-btns input {
  float: left;
  margin: 0 10px 0 0;
}

/* See #2081591, #1592688 */
label .form-required {
  display: none;
}

label .form-required:last-child {
  display: inline;
}

.image-widget label .form-required:last-child {
  display: none;
}

.hide-text-format {
  text-align:right;
  padding-right: 18px;
  color: #0074BD;
  background: url(../assets/message-16-warning.png) no-repeat right center;
  z-index: 10000;
  position: relative;
}
.ckeditor_links	{
  padding-left: 10px;
}
.hide-text-format:hover	{
  color: #0074BD;
  text-decoration: underline;
}
.field-widget-text-textarea fieldset.filter-wrapper {
  border: 1px solid #ccc;
  background: #efefef;
  margin-top: -30px;
  padding: 30px 0 0 10px;	
}
 
.form-type-date-popup .date-padding .description {
  display: none;
}

/* #2116861: Hide Date/Time labels for date picker for any content type */
.form-type-date-popup label {
  display: none;
}

#footer .footer-copyright {
  margin-top: 20px;
  margin-bottom: 10px;
  float: left;
}

#footer .footer-version {
  margin-top: 20px;
  margin-bottom: 10px;
  float: right;
}
